Repository marpledata/marple-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, rust:mdb-cli

.gitlab-ci.yml:

stages:
  - test
  - docs

variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"

cache:
  key:
    files:
      - python/uv.lock
      - python/pyproject.toml
  paths:
    - .cache/uv
    - python/.venv/

pytest:
  image: python:3.11
  stage: test
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run pytest -v --junitxml=pytest.xml --cov=marple --cov-report=term-missing --cov-report=xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: python/pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: python/coverage.xml
    paths:
      - python/pytest.xml
      - python/coverage.xml
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - python/**/*

rust:mdb-cli:
  image: rust:1.85
  stage: test
  cache:
    key:
      files:
        - mdb-cli/Cargo.lock
        - mdb-cli/Cargo.toml
    paths:
      - mdb-cli/target/
      - .cargo/registry/
      - .cargo/git/
  before_script:
    - rustc --version
    - cargo --version
    - apt-get update && apt-get install -y --no-install-recommends pkg-config libssl-dev ca-certificates
  script:
    - cd mdb-cli
    - cargo test --locked
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - mdb-cli/**/*

docs:
  image: python:3.11
  stage: docs
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run sphinx-build -b html docs docs/_build/html
  artifacts:
    paths:
      - python/docs/_build/html
    expire_in: 30 days
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
      when: manual

pages:
  stage: docs
  image: alpine:latest
  script:
    - mkdir -p public
    - cp -r python/docs/_build/html/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
  dependencies:
    - docs

downgrade again
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

Drop ETag from our Multi-part API
  mdb-cli/src/main.rs
  mdb-cli/tests/test_db_cli.rs
Due: rust:mdb-cli

why would AI
  mdb-cli/src/main.rs
Due: rust:mdb-cli

Version 0.1.6
  mdb-cli/CHANGELOG.md
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

Python SDK Multi-Part Upload
  python/src/marple/db/datastream.py
Due: pytest

shorter & pydantic
  python/src/marple/db/datastream.py
Due: pytest

formatting
  python/src/marple/db/datastream.py
Due: pytest

Bump
  python/CONTRIBUTING.md
  python/pyproject.toml
  python/src/marple/__init__.py
  python/uv.lock
Due: pytest

Upload to Azure
  python/pyproject.toml
  python/src/marple/db/datastream.py
  python/uv.lock
Due: pytest

Cleaner code
  python/src/marple/db/datastream.py
Due: pytest

rust code
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
  mdb-cli/src/main.rs
Due: rust:mdb-cli

wip
  mdb-cli/src/main.rs
Due: rust:mdb-cli

azure-multi-part
  mdb-cli/src/main.rs
Due: rust:mdb-cli

azure-multi-part
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
  mdb-cli/src/main.rs
Due: rust:mdb-cli

Rust SDK
  .gitlab-ci.yml
  rust/mdb-cli/.gitignore
  rust/mdb-cli/CHANGELOG.md
  rust/mdb-cli/CONTRIBUTING.md
  rust/mdb-cli/Cargo.lock
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/README.md
  rust/mdb-cli/src/main.rs
  rust/mdb-cli/tests/test_db_cli.rs
  rust/parquet-transcode/Cargo.lock
  rust/parquet-transcode/Cargo.toml
  rust/parquet-transcode/README.md
  rust/parquet-transcode/analyze.py
  rust/parquet-transcode/src/main.rs
  rust/parquet-transcode/test_data/dataset=1/signal=2/mdb_m.engineRate.parquet
  rust/parquet-transcode/test_data/dataset=1/signal=5/mdb_m.speed.parquet
  rust/parquet-transcode/test_data/dataset=7/signal=2/mdb_m.engineRate.parquet
  rust/parquet-transcode/test_data/dataset=7/signal=5/mdb_m.speed.parquet
  rust/parquet-transcode/tests/transcode_test.rs
Due: none

Rust SDK
  .gitlab-ci.yml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/src/main.rs
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/LICENSE-APACHE
  rust/mdb-sdk/LICENSE-MIT
  rust/mdb-sdk/README.md
  rust/mdb-sdk/examples/push_file.rs
  rust/mdb-sdk/src/client.rs
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/models.rs
  rust/mdb-sdk/src/progress.rs
  rust/mdb-sdk/src/upload.rs
Due: none

Rust SDK Tests
  rust/Cargo.lock
  rust/mdb-cli/tests/test_db_cli.rs
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/README.md
  rust/mdb-sdk/examples/push_file.rs
  rust/mdb-sdk/src/client.rs
  rust/mdb-sdk/src/models.rs
  rust/mdb-sdk/tests/test_db_sdk.rs
Due: none

fix test
  rust/mdb-cli/tests/test_db_cli.rs
Due: none

multi-part tests
  python/tests/test_sdk.py
  rust/mdb-cli/tests/test_db_cli.rs
  rust/mdb-sdk/tests/test_db_sdk.rs
  test_data/examples_race.csv
Due: pytest

undeprecate & add more tests
  python/src/marple/db/__init__.py
  python/tests/test_sdk.py
Due: pytest

only to main
  .gitlab-ci.yml
Due: none

Fix Pipeline'
  .gitlab-ci.yml
Due: none

Pipelined
  rust/Cargo.lock
  rust/Cargo.toml
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/src/main.rs
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/src/client.rs
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/models.rs
  rust/mdb-sdk/src/progress.rs
  rust/mdb-sdk/src/upload.rs
  rust/mdb-sdk/tests/test_db_sdk.rs
Due: none

Add error module
  rust/mdb-sdk/src/errors.rs
Due: none

extra testss
  rust/mdb-cli/README.md
  rust/mdb-cli/src/main.rs
  rust/mdb-sdk/README.md
  rust/mdb-sdk/examples/push_file.rs
  rust/mdb-sdk/src/client.rs
  rust/mdb-sdk/src/errors.rs
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/models.rs
  rust/mdb-sdk/src/progress.rs
Due: none

behind feature flag
  rust/Cargo.lock
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/README.md
  rust/mdb-cli/src/main.rs
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/README.md
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/upload.rs
Due: none

remove azure again
  rust/Cargo.lock
  rust/Cargo.toml
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/README.md
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/README.md
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/upload.rs
Due: none

agents
  .gitlab-ci.yml
Due: none

agents
  AGENTS.md
  matlab/AGENTS.md
  python/AGENTS.md
  rust/AGENTS.md
  rust/mdb-cli/AGENTS.md
  rust/mdb-sdk/AGENTS.md
  rust/parquet-transcode/AGENTS.md
Due: pytest

tsv streams
  rust/mdb-cli/src/lib.rs
  rust/mdb-cli/src/main.rs
  rust/mdb-cli/tests/integration.rs
  rust/mdb-cli/tests/unit.rs
Due: none

unit & integration
  rust/mdb-cli/src/lib.rs
  rust/mdb-cli/tests/unit.rs
  rust/mdb-sdk/src/lib.rs
  rust/mdb-sdk/src/models.rs
  rust/mdb-sdk/tests/integration.rs
  rust/mdb-sdk/tests/unit.rs
Due: none

dataset list
  rust/mdb-cli/README.md
  rust/mdb-cli/src/lib.rs
  rust/mdb-cli/src/main.rs
  rust/mdb-cli/tests/integration.rs
  rust/mdb-cli/tests/unit.rs
  rust/mdb-sdk/README.md
  rust/mdb-sdk/src/client.rs
  rust/mdb-sdk/src/models.rs
Due: none

dataset list
  rust/mdb-cli/README.md
  rust/mdb-cli/src/lib.rs
  rust/mdb-cli/src/main.rs
  rust/mdb-cli/tests/integration.rs
  rust/mdb-cli/tests/unit.rs
Due: none

env file
  .gitlab-ci.yml
  rust/mdb-cli/README.md
  rust/mdb-cli/src/main.rs
  rust/mdb-cli/tests/integration.rs
Due: none

New Docs
  python/CONTRIBUTING.md
  python/README.md
  python/docs/api/db.rst
  python/docs/getting-started.rst
  python/docs/tutorials.rst
Due: pytest

Version 3.2.0
  python/pyproject.toml
  python/src/marple/__init__.py
  python/uv.lock
Due: pytest

Bump Version & Add Single License
  LICENSE
  rust/Cargo.lock
  rust/mdb-cli/Cargo.toml
  rust/mdb-cli/LICENSE
  rust/mdb-sdk/Cargo.toml
  rust/mdb-sdk/LICENSE
  rust/mdb-sdk/LICENSE-APACHE
  rust/mdb-sdk/LICENSE-MIT
  rust/parquet-transcode/LICENSE
Due: none

Update READMEs and CHANGELOGs
  README.md
  python/README.md
  rust/mdb-cli/CHANGELOG.md
  rust/mdb-cli/README.md
  rust/mdb-sdk/CHANGELOG.md
  rust/mdb-sdk/README.md
Due: pytest

Release Documentation for Rust
  python/CHANGELOG.md
  rust/README.md
  rust/RELEASING.md
Due: pytest
