Repository marpledata/marple-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, rust:mdb-cli

.gitlab-ci.yml:

stages:
  - test
  - docs

variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"

cache:
  key:
    files:
      - python/uv.lock
      - python/pyproject.toml
  paths:
    - .cache/uv
    - python/.venv/

pytest:
  image: python:3.11
  stage: test
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run pytest -v --junitxml=pytest.xml --cov=marple --cov-report=term-missing --cov-report=xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: python/pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: python/coverage.xml
    paths:
      - python/pytest.xml
      - python/coverage.xml
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - python/**/*

rust:mdb-cli:
  image: rust:1.85
  stage: test
  cache:
    key:
      files:
        - mdb-cli/Cargo.lock
        - mdb-cli/Cargo.toml
    paths:
      - mdb-cli/target/
      - .cargo/registry/
      - .cargo/git/
  before_script:
    - rustc --version
    - cargo --version
    - apt-get update && apt-get install -y --no-install-recommends pkg-config libssl-dev ca-certificates
  script:
    - cd mdb-cli
    - cargo test --locked
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - mdb-cli/**/*

docs:
  image: python:3.11
  stage: docs
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run sphinx-build -b html docs docs/_build/html
  artifacts:
    paths:
      - python/docs/_build/html
    expire_in: 30 days
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
      when: manual

pages:
  stage: docs
  image: alpine:latest
  script:
    - mkdir -p public
    - cp -r python/docs/_build/html/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
  dependencies:
    - docs

improve insight error message
  python/docs/getting-started.rst
  python/src/marple/insight.py
Due: pytest

fix endpoint
  python/src/marple/insight.py
Due: pytest

raise error and check connection
  python/src/marple/db/__init__.py
  python/src/marple/insight.py
Due: pytest

no need for check connection
  python/docs/getting-started.rst
Due: pytest

fix test
  python/tests/test_sdk.py
Due: pytest

order imports
  python/src/marple/utils.py
Due: pytest

3.0.1
  python/pyproject.toml
  python/src/marple/__init__.py
  python/uv.lock
Due: pytest

Stream with length
  mdb-cli/CHANGELOG.md
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
  mdb-cli/src/main.rs
Due: rust:mdb-cli

Create A Parquet Transcoder for older MATLAB versions
  .gitignore
  .gitlab-ci.yml
  matlab/DB.m
  matlab/README.md
  parquet-transcode/Cargo.lock
  parquet-transcode/Cargo.toml
  parquet-transcode/src/main.rs
  parquet-transcode/test_data/.DS_Store
  parquet-transcode/test_data/dataset=1/.DS_Store
  parquet-transcode/test_data/dataset=1/signal=2/mdb_m.engineRate.parquet
  parquet-transcode/test_data/dataset=1/signal=5/mdb_m.speed.parquet
  parquet-transcode/test_data/dataset=7/.DS_Store
  parquet-transcode/test_data/dataset=7/signal=2/mdb_m.engineRate.parquet
  parquet-transcode/test_data/dataset=7/signal=5/mdb_m.speed.parquet
Due: none

Add test
  parquet-transcode/Cargo.lock
  parquet-transcode/Cargo.toml
  parquet-transcode/src/main.rs
  parquet-transcode/tests/transcode_test.rs
Due: none

Recursive traversal
  parquet-transcode/Cargo.lock
  parquet-transcode/tests/transcode_test.rs
Due: none

Remove DS_Store
  parquet-transcode/test_data/.DS_Store
  parquet-transcode/test_data/dataset=1/.DS_Store
  parquet-transcode/test_data/dataset=7/.DS_Store
Due: none

analysis script
  parquet-transcode/analyze.py
Due: none

test in ci
  .gitlab-ci.yml
Due: none

not double
  .gitlab-ci.yml
Due: none

Cross build in CI
  .gitlab-ci.yml
  matlab/DB.m
  parquet-transcode/README.md
Due: none

Try ci build & DB.m
  .gitlab-ci.yml
  matlab/DB.m
Due: none

fix DB.m
  matlab/DB.m
Due: none

fix ci
  .gitlab-ci.yml
Due: none

cross-remote
  .gitlab-ci.yml
Due: none

best-practice
  .gitlab-ci.yml
Due: none

Remove cache in ci
  .gitlab-ci.yml
Due: none

no intel mac
  matlab/DB.m
Due: none

move bin dir
  matlab/DB.m
Due: none

move bin again
  matlab/DB.m
Due: none

Add metadata to mdb-cli, move tests to staging
  mdb-cli/README.md
  mdb-cli/src/main.rs
  mdb-cli/tests/test_db_cli.rs
  python/example.py
  python/tests/test_sdk.py
Due: pytest, rust:mdb-cli

Changelog
  mdb-cli/CHANGELOG.md
Due: rust:mdb-cli

Version Update
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

ci
  .gitlab-ci.yml
Due: none

New Upload Flow
  mdb-cli/src/main.rs
Due: rust:mdb-cli

v0.1.3
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

Add CONTENT_LENGTH header to upload request in mdb-cli
  mdb-cli/src/main.rs
Due: rust:mdb-cli

Sync Uploading
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
  mdb-cli/src/main.rs
Due: rust:mdb-cli

fix Changelog
  mdb-cli/CHANGELOG.md
Due: rust:mdb-cli

Working multi-part-concurrent-upload
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
  mdb-cli/src/main.rs
Due: rust:mdb-cli

smooth upload
  mdb-cli/src/main.rs
Due: rust:mdb-cli

abort
  mdb-cli/src/main.rs
Due: rust:mdb-cli

v0.1.4
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

Changelog
  .gitignore
  mdb-cli/CHANGELOG.md
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli

update reqwest
  mdb-cli/Cargo.lock
  mdb-cli/Cargo.toml
Due: rust:mdb-cli
