Repository marpledata/marple-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, rust:mdb-cli

pytest:
  image: python:3.11
  stage: test
  before_script:
  - python --version
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - /root/.local/bin/uv --version
  script:
  - cd python
  - /root/.local/bin/uv run pytest -vs --junitxml=pytest.xml --cov=marple --cov-report=term-missing --cov-report=xml:coverage.xml
  ...

rust:mdb-cli:
  image: rust:1.85
  stage: test
  cache:
    key:
      files:
      - mdb-cli/Cargo.lock
      - mdb-cli/Cargo.toml
    paths:
    - mdb-cli/target/
    - .cargo/registry/
    - .cargo/git/
  before_script:
  - rustc --version
  - cargo --version
  ...

Simplify
  python/docs/_static/custom.css
  python/docs/conf.py
Due: pytest

Docstring for all relevant functions
  python/src/marple/db/dataset.py
  python/src/marple/db/datastream.py
  python/src/marple/db/signal.py
Due: pytest

Auto build docs
  .gitlab-ci.yml
Due: none

Fix pipelin
  .gitlab-ci.yml
Due: none

Fix?
  .gitlab-ci.yml
Due: none

Alsways build
  .gitlab-ci.yml
Due: none

More docs pipeline
  .gitlab-ci.yml
Due: none

Install sphinx in pipeline
  .gitlab-ci.yml
Due: none

Run on success
  .gitlab-ci.yml
Due: none

Include api files
  python/docs/api/db.rst
  python/docs/api/files.rst
  python/docs/api/insight.rst
Due: pytest

Need build-docs
  .gitlab-ci.yml
Due: none

Show directly calling endpoints
  python/README.md
Due: pytest

Chain
  python/README.md
Due: pytest

Single stage
  .gitlab-ci.yml
Due: none

Customization
  python/docs/_static/custom.css
  python/docs/api.rst
  python/docs/api/files.rst
  python/docs/conf.py
  python/docs/getting-started.rst
  python/docs/index.rst
Due: pytest

Add favicon and logo
  python/docs/_static/favicon.png
  python/docs/_static/logo.png
Due: pytest

Exclude pydantic functions
  python/docs/conf.py
  python/pyproject.toml
Due: pytest

Add docs to all functions
  python/src/marple/db/__init__.py
  python/src/marple/db/dataset.py
  python/uv.lock
Due: pytest

Add depolyment info
  python/docs/DEPLOYMENT.md
Due: pytest

Update docs link
  README.md
  python/docs/conf.py
  python/pyproject.toml
Due: pytest

Fix pipeline
  .gitlab-ci.yml
Due: none

Drop files
  python/src/marple/__init__.py
  python/src/marple/files.py
Due: pytest

Small fixes
  python/CONTRIBUTING.md
  python/README.md
Due: pytest

Bump version
  python/CONTRIBUTING.md
  python/src/marple/__init__.py
Due: pytest

Less Failure While Validating
  python/src/marple/db/__init__.py
  python/src/marple/db/dataset.py
  python/src/marple/db/signal.py
Due: pytest

whazzup
  mdb-cli/tests/test_db_cli.rs
  python/src/marple/db/__init__.py
  python/tests/test_files.py
  python/tests/test_sdk.py
Due: pytest, rust:mdb-cli

combine the pipelines
  .gitlab-ci.yml
Due: none

Fix check connection
  python/src/marple/db/__init__.py
  python/tests/test_sdk.py
Due: pytest

More efficient data getting
  mdb-cli/tests/test_db_cli.rs
  python/src/marple/db/signal.py
Due: pytest, rust:mdb-cli

Proper Signal
  python/src/marple/db/dataset.py
Due: pytest

Fetch Data Using Map
  python/src/marple/db/constants.py
  python/src/marple/db/dataset.py
  python/src/marple/db/signal.py
  python/src/marple/utils.py
Due: pytest

Heatmap finally performant
  python/lol2.py
  python/src/marple/db/constants.py
  python/src/marple/utils.py
Due: pytest

Remove lol script
  python/lol2.py
Due: pytest

Fix Tests
  python/src/marple/db/dataset.py
  python/tests/test_sdk.py
Due: pytest

Fix test & ignore cache
  .vscode/settings.json
  python/tests/test_sdk.py
Due: pytest

final test
  python/tests/test_sdk.py
Due: pytest

Path conditions:
  pytest: any of: python/**/*
  rust:mdb-cli: any of: mdb-cli/**/*
